# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/DATABASE_NAME"
PORT=8000

EMAIL_HOST="gmail.com"
EMAIL_USER="youremailhere@gmail.com"
EMAIL_PASS="application access password here"
EMAIL_PORT="465"

MAIN_FRONT_END_URL="http://localhost:5173"


# THIS IS A PRIVATE RSA KEY - YOU CAN MAKE YOUR OWN AND PLACE IT HERE
JWT_SECRET='-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC2ibR8LOfYKXb/
kPyubK70yQOBkWd/GT1L6wLOsmDxoeC6Dq+aG4sdvbR9sUc7NT0J+MCL4f0SfRX6
6Pa6qUCl3pOuAt+tdtcmvXKIfSsi+ndhwbody4kYrpP0lzPb/NvPFB/q+pdT7Pbw
ztVO+d2fhz/23hUA3ZN8bChCBCWWuFQIwi+xMJTEwmrCoDXGxVpAbVICEhYcu0HP
+tPFtV1fpQGIg3rMRwS5DHJDX63eHOpa2Ix/Bg3cUgujmqoT83BLb68DermxxPMS
QF2IOwZgfvGtu8tbPQr32b63+RhkcyZKFIDaiKDmHBSBnjEdwJ/J+hEg2vylOwc0
AoY1qX5ZAgMBAAECggEBAKnVlcezQEMu0TkXfQIMvPujy09SKilnIlDwZ7xI20n2
g1CZOWj5F4akarpHpy6/aftNJlj/+qapGzpIZsdlknDBlkXhBpwuZh/1RAsZ6niw
8UJTLQdryDLeu2pnBCk6KomQ/+FxJjs/zsJerri8Yid7f1gBaSlU/1RUjWBe21pO
s75E0MNcSVsgrFR7uGKGoViFpr15oMm6rimWJnhxtFbS45cxlK0QbmcDAc9iHgKd
Va1rczbwlxSLG0cDlZGcyZROOM3My4zqzZVi0PLqJIfj74j4Rq2MDCuxDBUPvtRX
3/mHEO9EtdLp0AtY1LyzUCkEahooGpN/QZ6o0QuaocECgYEA4b44oM/uf/L8+RCv
znI4BoAGeD25VD0LuZtQWMz9ORZRKWsDPVmFZVxUUKS4SLXglNxR6u37MHzpcZ/4
XcH9+EzEG+NZYkURp6svWptmETvmo4Ma2CJPhozyHvrlb2n4/1Iw5H8t1mmSBhDN
uJD5kBdLJuVPKrNzIzMPLukKEbcCgYEAzwEDWT2ifWDPSZIQl9ZWGAmXjgx9cQyk
4qvQgCZdAAs6edPseYHqjOzeYin0yl5UjIgghiZJeqwt5G8d+tD5lia9hbUZPcph
olMuaDMMnRHALO2rS94Y3u+Ek7BUzW/NS6OwyIfeBwufEccYeyV/VSvYjLuA2dKA
7vY53/rSsG8CgYBBLHMa8o1QAW5J1ih7uPw13DaB9ogQKwO8lXuv95bQKYJLK+sm
hjb+GZb6JWRTEbeCIs2/vu97g0S+mknRf9V8H2WrC4td1MURHFoylZT1Os8OvCY+
6kD9fqnUiek9rmHGDQuynIk2Uwpml+lc9PYoRKFc3G1rzZ1bNz2V9JAEpwKBgHxO
VG9zlq8JwpCgePxlBqA6qlrv3yhS+nTvzi4WW4SaOYxNGdVBkdL8rvJt1YTsroMR
f85vEXLsEEb7/xnOAgML0oWHYdf8PzMWFmkWNr3fmfKg6luNzIubc5aordQMDlEc
xB03kbnTXbt0Ppw8wUEpKkogkti7ExfsnoaE/Z5bAoGBAMZWkBVlKcOa8NkFLNuh
RvYcXqcSsLhEam5XVTJWFNfcq1NxsE0cUr7DOryHC5fiNc1JxsNiLsAUPx84envU
Wo2za9bdar1i6FKgIZL3HISS1JIIji4dMXyt+eeWKGtSC7fjltANkrSflzfL17K4
l8HrDNgxPGfav7XhOivwEsNN
-----END PRIVATE KEY-----
'